vendor
cache/*
key/*
.env
.env.prod
src/Schema/generated-conf/*
dev/php.ini
!cache/.gitkeep
vuepress-docs/node_modules
vuepress-docs/src/.vuepress/.cache
vuepress-docs/src/.vuepress/.temp
vuepress-docs/src/.vuepress/dist